/* CMSC 207 Assignment1: css file (Julfri Emmil Caguiat) */

@import url('https://fonts.googleapis.com/css?family=Titillium+Web&display=swap');

body{
    font-family: 'Titillium Web', sans-serif;
    background-color: gray;
    
    /* browser compatibility */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

h1{                                     /* centers the header */
    text-align: center;
    margin: 50px;
}

#container{                             /* centers the calculator app */
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);   
}

#display{                               /* display properties */                     
    height: 80;
    color: white;
    text-align: right;    
    font-size: 48px;
    background-color: black;
    overflow: hidden;
    white-space: nowrap;
    padding: 12px;
    border-radius: 7px 7px 0 0;
}

.row{                                   /* row class properties */
    display: table;
    table-layout: fixed;
    width: 400px;
}

.column{                                /* column class property */
    display: table-cell;
}

.button{                                /* button class properties */   
    background-color: lightgray;
    color: black;
    width: 25px;
    height: 45px;
    border: 2px solid black;    
    text-align: center;
    cursor: pointer;
    font-size: 30px;
    font-weight: 100;
    padding-top: 3px;
}

.button:hover{                          /* highlights button class on pointer */
    background-color: whitesmoke;
}
 
.oper-button{                           /* oper-button class properties */
    background-color: rgb(77, 77, 66);
    color: white;}

.oper-button:hover{                     /* oper-button class highlighter */
    background-color:  rgb(107, 107, 99);
}

#all-clear{                             /* AC button properties */
    width: 54.8px;
    background-color: rgb(77, 77, 66);
    color: white;
}

#all-clear:hover{                       /* AC button highlighter */
    background-color: rgb(107, 107, 99);    
}

#clear{                                 /* C button properties */
    background-color: rgb(77, 77, 66);
    color: white;  
}

#clear:hover{                           /* C button highlighter */
    background-color: rgb(107, 107, 99);    
}

#equals{                                /* equals button properties */
    background-color: red;
    color: black;
    border-radius: 0 0 7px 0;
}

#equals:hover{                          /* equals button highlighter */
    background-color: rgb(253, 80, 80);    
}

#zed{                                   /* zed button properties */
    width: 54.8px;
    border-radius: 0 0 0 7px;
}


